<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race Basket</title>
</head>
<body>
<form method="POST" action="/save" ><h1>Sprint Races</h1>
    <label for="sprintRaces">Sprint Races</label>
<select id="sprintRaces" name='raceName'>
    {% for races in raceList %}
    <option value="{{ races[0] }}">{{ races[1] }} ${{ races[2] }}</option>
{%  endfor %}
</select>
    <button type="submit">Add Sprint Race</button>
<!--<h1>Super Races</h1>
<select name='super'>
    <option value="10, Chicago, 56.78">Chicago</option>
</select>
    <input type='submit' value='submit'>-->
</form>
<p>Races Chosen</p>
<ul>
    {%  for races in cartItems %}
    <li>{{ races[0][0] }} ${{ races[0][1] }}</li>
    {% endfor %}
</ul>
<button type="button">Checkout</button>

</body>
</html>


