<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Race Basket</title>
</head>
<body>
<form method="POST" action="/save" ><h1>Sprint Races</h1>
<label for="sprintRaces">Sprint Races</label>
<select id="sprintRaces" name='raceName'>
    {% for races in sprintRaceList %}
    <option value="{{ races[0] }}">{{ races[1] }} ${{ races[2] }}</option>
    {%  endfor %}
</select>
    <button type="submit">Add Sprint Race</button>
</form>
<form method="POST" action="/save" ><h1>Super Races</h1>
<label for="sprintRaces">Super Races</label>
<select id="superRaces" name='raceName'>
    {% for races in superRaceList %}
    <option value="{{ races[0] }}">{{ races[1] }} ${{ races[2] }}</option>
    {%  endfor %}
</select>
    <button type="submit">Add Super Race</button>
</form>
<form method="POST" action="/save" ><h1>Beast Races</h1>
<label for="beastRaces">Beast Races</label>
<select id="beastRaces" name='raceName'>
    {% for races in beastRaceList %}
    <option value="{{ races[0] }}">{{ races[1] }} ${{ races[2] }}</option>
    {%  endfor %}
</select>
    <button type="submit">Add Beast Race</button>

</form>
<p>Races Chosen:</p>
<table>
    {%  for races in cartItems %}
        <tr>
    <td>{{ races[0][0] }} </td>
            <td>${{ races[0][1] }}</td>

        <td>
        <form method="POST" action="/remove">
            <input type="hidden" name="removeRaceItem" value={{ races[0][2] }}></input>
            <button type="submit">Remove Race</button>
        </form>
        </td>
       </tr>
    {% endfor %}
</table>
<p>Cost Total:</p><p>{{ Message }}</p><br>
{{ total }}
<form method="POST" action="/delete" >
<button type="submit">Clear Cart</button>
</form>
<form method="POST" action="/confirm">
    <button type="submit">Checkout</button>
</form>

</body>
</html>


