<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet"
      type="text/css"
      href="../static/styles/homePage.css"/>
<head>
    <meta charset="UTF-8">
    <title>Race Basket</title>
</head>
<body>
<br>
<div class="header">
    <h1>Spartan Obstacle Race Pass Selector</h1>

    <h3>Choose from the sprint (~3 miles), the super (~8 miles) or the beast (~13 miles). Or choose all three and receive a 25% discount on all races!</h3>

</div>
<br>
<div class="top">
<div class="races">
    <form method="POST" action="/save" ><h1 class="sprint">Sprint Races</h1>
    <select id="sprintRaces" name='raceName'>
    {% for races in sprintRaceList %}
    <option value="{{ races[0] }}">{{ races[1] }} ${{ races[2] }}</option>
    {%  endfor %}
    </select>
    <button class="raceSelector" type="submit">Add Sprint Race</button>
    </form>
</div>

<div class="races">
    <form method="POST" action="/save" ><h1 class="super">Super Races</h1>
    <select id="superRaces" name='raceName'>
    {% for races in superRaceList %}
    <option value="{{ races[0] }}">{{ races[1] }} ${{ races[2] }}</option>
    {%  endfor %}
    </select>
    <button class="raceSelector" type="submit">Add Super Race</button>
    </form>
</div>

<div class="races">
    <form method="POST" action="/save" ><h1 class="beast">Beast Races</h1>
    <select id="beastRaces" name='raceName'>
    {% for races in beastRaceList %}
    <option value="{{ races[0] }}">{{ races[1] }} ${{ races[2] }}</option>
    {%  endfor %}
    </select>
    <button class="raceSelector" type="submit">Add Beast Race</button>
</form>
</div>
</div>
<br>
<div class="cart">
    <h3>Races Chosen:</h3>
<table>
    {%  for races in cartItems %}
        <tr>
    <td>{{ races[0][0] }} </td>
            <td>${{ races[0][1] }}</td>

        <td>
        <form method="POST" action="/remove">
            <input type="hidden" name="removeRaceItem" value={{ races[0][2] }}></input>
            <button type="submit">Remove Race</button>
        </form>
        </td>
       </tr>
    {% endfor %}
</table>
<p>Cost Total:</p>
<div class="total">
    ${{ total }}
</div>
<p>{{ Message }}</p>
<p>{{ nextMessage }}</p>
<form method="POST" action="/delete" >
<button class="button clear" type="submit">Clear Cart</button>
</form>
<form method="POST" action="/confirm">
    <button class="button checkout" type="submit">Checkout</button>
</form>

</div>

</body>
</html>


